@use "../global/colors" as vars;

.authentication-container {
  display: flex;
  flex-direction: column;
  background-color: $white;
  height: 100%;
  width: 100%;

  .auth-form {
    margin: 0px auto;
    justify-content: center;
    align-items: center;
    padding-top: 8%;

    form {
      background-color: vars.$white;
      padding: 2em;
      border: 1px solid #F4F5F6;
      border-radius: 10px;
      box-shadow: 0px 10px 110px 1px rgba(59, 59, 59, 0.08);
      .group {
        display: flex;
        flex-direction: column;

        label {
          display: flex;
          flex-direction: row;
          color: $dark;
          // font-size: 16px;
          // font-weight: 900;
          margin-bottom: 0.50em;
        }

        input {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 10px;
          width: 446px;
          height: 55px;
          border-radius: 10px;
          margin-bottom: 1em;
          border: 1px solid #B1B5C3;
          border-radius: 10px;
          padding: 0 10px;
        }
      }
    }
    button {
      width: 40em;
      height: 55px;
      margin-top: 2em;
      background-color: $purple-primary;
      border-radius: 10px;
      line-height: 24px;
      border-color: transparent;
      cursor: pointer;

      &:hover {
        opacity: 90%;
      }
      &:disabled {
        opacity: 70%;
        cursor: not-allowed;
      }

      span {
        color: $dark-7;
        font-weight: 700;
        font-size: 18px;
      }
    }
  }
}

@media only screen and (max-width: 950px) {
  .authentication-container{
    padding: 1em 0em !important;
    display: flex;

    form{
      width: 17em;
      padding: 1em 2em 2em 1em !important;

      input {
        width: 20em !important;
      }
    }
    button {
      width: 25em !important;
    }
  }
}


