<h1>Budget Section</h1>
<div class="container-list">
  <h3>Budget List</h3>
  <ng-container
    *ngIf="
      budgetsList && budgetsList.length > 0;
      then budgetTemplate;
      else errorTemplate
    ">
  </ng-container>
  <ng-template #budgetTemplate>
    <ul>
      <li *ngFor="let budget of budgetsList">
        {{ budget.title }} - {{ budget.total | currency: 'EUR':true }}
      </li>
    </ul>
  </ng-template>
  <ng-template #errorTemplate>
    <div class="loader"></div>
  </ng-template>
</div>
<router-outlet></router-outlet>
