<div class="authentication-container">
  <div class="auth-form">
    <h1 class="d-flex flex-row">
      {{ 'authentication.get_started' | translate }}
    </h1>
    <span class="grey-light-text d-flex flex-row my-15">
      {{ haveAccountLabel | translate }}
      <span class="purple-text ml-5 cursor-pointer"
        ><a class="cursor-pointer" (click)="handleForm()">
          {{ buttonLabel | translate }}
        </a></span
      ></span
    >
    {{ isSignupFormActived }}

    <form [formGroup]="form">
      <div class="group">
        <label for="email">{{
          'authentication.form.email_label' | translate
        }}</label>
        <app-errors-message [field]="email"></app-errors-message>
        <input
          type="text"
          name="email"
          id="email"
          [ngStyle]="{ borderColor: handleColorInput(email) }"
          formControlName="email"
          required />
      </div>
      <div class="group">
        <label for="password">{{
          'authentication.form.password_label' | translate
        }}</label>
        <app-errors-message [field]="password"></app-errors-message>
        <input
          type="password"
          name="password"
          id="password"
          [ngStyle]="{ borderColor: handleColorInput(password) }"
          formControlName="password"
          required />
      </div>
      <ng-container *ngIf="isSignupFormActived">
        <div class="group">
          <label for="firstname">{{
            'authentication.form.firstname_label' | translate
          }}</label>
          <app-errors-message [field]="firstname"></app-errors-message>
          <input
            type="firstname"
            name="firstname"
            id="firstname"
            [ngStyle]="{ borderColor: handleColorInput(firstname) }"
            formControlName="firstname"
            [required]="isSignupFormActived" />
        </div>
        <div class="group">
          <label for="lastname">{{
            'authentication.form.lastname_label' | translate
          }}</label>
          <app-errors-message [field]="lastname"></app-errors-message>
          <input
            type="lastname"
            name="lastname"
            id="lastname"
            [ngStyle]="{ borderColor: handleColorInput(lastname) }"
            formControlName="lastname"
            [required]="isSignupFormActived" />
        </div>
      </ng-container>
    </form>
    <app-errors-message [errorFromApi]="errorFromApi"></app-errors-message>
    <button (click)="debugForm()">DEBUG</button>
    <button type="submit" (click)="onSubmit()" [disabled]="!this.form.valid">
      <span> {{ 'authentication.button.label_signin' | translate }} </span>
    </button>
  </div>
</div>
