<div class="authentication-container">
  <div class="auth-form">
    <h1 class="d-flex flex-row">Get's started.</h1>
    <span class="grey-light-text d-flex flex-row my-15"
      >Don't have an account?<span class="purple-text ml-5 cursor-pointer"
        ><a>Sign up</a></span
      ></span
    >
    <form [formGroup]="form">
      <div class="group">
        <label for="email">Email</label>
        <div *ngIf="email.errors && email.touched" class="alert alert-danger">
          <div *ngIf="email.errors['required']">This field is required</div>
          <div *ngIf="email.errors['minlength']">
            Please enter
            {{ email.errors['minlength']['requiredLength'] }} characters
            minimum.
          </div>
          <div *ngIf="email.errors['pattern']">Email adress invalid</div>
        </div>
        <input
          type="text"
          name="email"
          id="email"
          formControlName="email"
          required />
      </div>
      <div class="group">
        <label for="password">Password</label>
        <div
          *ngIf="password.errors && password.touched"
          class="alert alert-danger">
          <div *ngIf="password.errors['required']">This field is required</div>
          <div *ngIf="password.errors['minlength']">
            Please enter
            {{ password.errors['minlength']['requiredLength'] }} characters
            minimum.
          </div>
        </div>
        <input
          type="password"
          name="password"
          id="password"
          formControlName="password"
          required />
      </div>
    </form>
    <span (click)="debug()">debug</span>
    <button type="submit" (click)="onSubmit()" [disabled]="!this.form.valid">
      <span>Login</span>
    </button>
  </div>
</div>
