/* Primary Color */
$black-primary: #242731;
$grey-primary: #E0E4E7;
$purple-primary: #A162F7;

/* Secondary Color */
$red-secondary: #FF6370;
$yellow-secondary: #F6CC0D;
$blue-secondary: #2884FF;
$green-secondary: #70CF97;
$orange-secondary: #FF764C;

/* Gray */
$dark: #1F2128;
$dark-2: #5F6165;
$dark-3: #72767C;
$dark-4: #7C7C8D;
$dark-5: #808191;
$dark-6: #A4A5A6;
$white: #FFFFFF;
